:root {
  --background-color: #334;
  --foreground-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: sans-serif;
  text-align: center;
}

.die-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.die-card img {
  width: 80px;
  height: 80px;
  margin: 10px;
}

.inverted {
  filter: invert(100%);
}
