:root {
  --background-color: #334;
  --foreground-color: #fff;
  --accent-color: #cbb;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: sans-serif;
  text-align: center;
}

.die-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.die-card img {
  width: 80px;
  height: 80px;
  margin: 10px;
  background-color: var(--accent-color);
  padding: .5rem;
  border-radius: 1rem;
  border: 2px solid gray;
  transition: width .5s, height .5s, border .5s;
}

.die-card img:hover {
  width: 85px;
  height: 85px;
  border: 2px solid black
}

.inverted {
  filter: invert(100%);
}

.button-clear {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}
